/* You can add global styles to this file, and also import other style files */
body {
    overflow-x: hidden;
    background-image: linear-gradient(to top, #1b1f21, black);
    min-width: 100vw;
    min-height: 100vh;
}